<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.POEProjectTest1"
        tools:targetApi="31">
        <activity
            android:name=".TimesheetEntriesPage"
            android:exported="false" />
        <activity
            android:name=".TimesheetPage"
            android:exported="false" />
        <activity
            android:name=".SettingsPage"
            android:exported="false" />
        <activity
            android:name=".ExportPage"
            android:exported="false" />
        <activity
            android:name=".ProjectsPage"
            android:exported="false" />
        <activity
            android:name=".AlarmsPage"
            android:exported="false" />
        <activity
            android:name=".ReportsPage"
            android:exported="false" />
        <activity
            android:name=".PaidTimePage"
            android:exported="false" />
        <activity
            android:name=".PointsPage"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>